<aside class="left-sidebar">
    <div class="scroll-sidebar">
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="sidebar-item selected">
                    <a class="sidebar-link waves-dark" href="/action/index"
                       aria-expanded="false">
                        <i class="mdi mdi-gauge"></i>
                        <span class="hide-menu">Dashboard </span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-dark" href="javascript:void(0)" aria-expanded="false">
                        <i class="mdi mdi-format-list-bulleted"></i>
                        <span class="hide-menu">Danh mục</span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">
                                <i class="mdi mdi-plus"></i>
                                <span class="hide-menu">Môi trường thao tác</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">
                                <i class="mdi mdi-plus"></i>
                                <span class="hide-menu">Hệ thống server</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">
                                <i class="mdi mdi-plus"></i>
                                <span class="hide-menu">Hệ thống Database</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">
                                <i class="mdi mdi-plus"></i>
                                <span class="hide-menu">Hệ thống Schema</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-dark" href="/partner"
                       aria-expanded="false">
                        <i class="mdi mdi-account-location"></i>
                        <span class="hide-menu">Hệ thống đối tác</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-dark" href="javascript:void(0)" aria-expanded="false">
                        <i class="mdi mdi-pencil-box-outline"></i>
                        <span class="hide-menu">Log ứng dụng</span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a href="/log/requestindex" class="sidebar-link">
                                <i class="mdi mdi-plus"></i>
                                <span class="hide-menu">Log Request/Response</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">
                                <i class="mdi mdi-plus"></i>
                                <span class="hide-menu">Log Exception</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">
                                <i class="mdi mdi-plus"></i>
                                <span class="hide-menu">Log Notify</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-dark" href="javascript:void(0)" aria-expanded="false">
                        <i class="mdi mdi-cached"></i>
                        <span class="hide-menu">Quản lý cache</span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a href="/cache/storedprocedure" class="sidebar-link">
                                <i class="mdi mdi-plus"></i>
                                <span class="hide-menu">Param thủ tục</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/cache/actioncode" class="sidebar-link">
                                <i class="mdi mdi-plus"></i>
                                <span class="hide-menu">Action api</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/cache/responsedata" class="sidebar-link">
                                <i class="mdi mdi-plus"></i>
                                <span class="hide-menu">Kết quả truy vấn</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/cache/partnerinfo" class="sidebar-link">
                                <i class="mdi mdi-plus"></i>
                                <span class="hide-menu">Đối tác kết nối</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-dark" href="/action/index"
                       aria-expanded="false">
                        <i class="mdi mdi-earth"></i>
                        <span class="hide-menu">Quản lý api hệ thống</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-dark" href="javascript:void(0)"
                       aria-expanded="false">
                        <i class="mdi mdi-file-document"></i>
                        <span class="hide-menu">Hướng dẫn sử dụng</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="sidebar-footer">
        <a href="" class="link" data-toggle="tooltip" title="Hồ sơ"><i class="ti-settings"></i></a>
        <a href="" class="link" data-toggle="tooltip" title="Email"><i class="mdi mdi-gmail"></i></a>
        <a href="" class="link" data-toggle="tooltip" title="Thoát"><i class="mdi mdi-power"></i></a>
    </div>
</aside>